.App{
    display: flex;
    flex-direction: column;
    background-color:lightblue;
    align-items: center;
    padding-bottom: 5%;
}

h2{
    color: teal;
}

p{
    color: maroon;
    font-size: 1.2rem;
    border: 2px dashed coral;
    padding: 5%;
    width: 100%;
}

.todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin-top: 6%;
}
